@{
    ViewData["Title"] = "JANDARMA GENEL KOMUTANLIGI ILK .NET CORE UYGULAMASI";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <h2>BU ORNEK UYGULAMA .NETCORE NGINX KESTREL DOCKER COMPOSE KULLANMAKTADIR.</h2>
    <h2>BUNUN DISINDA HENUZ PEK FAZLA BIR SEY DE YAPAMAMAKTADIR.</h2>
        <ul>
            <li>GITHUB CLONE ADRESI</li>
            <li>MEBS ve SIBER GUVENLIK KOMUTANLIGI 2020</li>
        </ul>
</div>
